{% extends 'task_manager/index.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block maincontent %}
<div class="container wrapper flex-grow-1">
    {% bootstrap_messages %}
    {% if form.name.value and not form.name.errors %}
        <h1 class="my-4">{% trans 'Changing the label' %}</h1>
    {% else %}
        <h1 class="my-4">{% trans 'Create a label' %}</h1>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3"><label class="form-label" for="id_name">{% trans 'Labelname' %}</label>
            <input type="text" name="name" maxlength="100"
            {% if form.name.errors %}
                class="form-control is-invalid" aria-invalid="true"
            {% else %}
                class="form-control"
            {% endif %}
            placeholder="{% trans 'Labelname' %}" required id="id_name"
            {% if form.name.value %}
                value="{{ form.name.value }}"
            {% endif %}>
            {% if form.name.errors %}
            <div class="invalid-feedback">{% trans 'Required field.' %}</div>
            {% endif %}
        </div>
        <input class="btn btn-primary" type="submit"
        {% if form.name.value and not form.name.errors %}
            value="{% trans 'Change' %}"
        {% else %}
            value="{% trans 'Create' %}"
        {% endif %}>
    </form>
</div>
{% endblock maincontent %}