{% extends 'task_manager/index.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block maincontent %}
<div class="container wrapper flex-grow-1">
    {% bootstrap_messages %}
    {% if edit_flag %}
    <h1 class="my-4">{% trans 'Changing the task' %}</h1>
    {% else %}
    <h1 class="my-4">{% trans 'Create the task' %}</h1>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="id_name">{% trans 'Taskname' %}</label>
            <input type="text" name="taskname" maxlength="150"
            {% if task_error or form.taskname.errors %}
                class="form-control is-invalid"
                value="{{ form.taskname.value }}"
            {% elif form.taskname.value %}
                class="form-control" value="{{ form.taskname.value }}"
            {% else %}
                class="form-control"
            {% endif %}
            class="form-control" placeholder="{% trans 'Taskname' %}" required id="id_name">
            {% if task_error or form.taskname.errors %}
            <div class="invalid-feedback">{% trans 'The task with this name already exists' %}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_description">{% trans 'Description' %}</label>
            <textarea name="taskdescription" cols="40" rows="10"
            {% if task_error or form.taskname.errors %}
                class="form-control is-valid"
            {% else %}
                class="form-control"
            {% endif %}
            placeholder="{% trans 'Description' %}" id="id_description">{% if form.taskdescription.value %}{{ form.taskdescription.value }}{% endif %}</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_status">{% trans 'Status' %}</label>
            <select name="status"
            {% if task_error or form.taskname.errors %}
                class="form-select is-valid"
            {% else %}
                class="form-select"
            {% endif %}
            required id="id_status">
            {% if form.status.value %}
            <option value="">---------</option>
            {% for status in statuses %}
            {% with val=status.pk|stringformat:'i' %}
                {% if form.status.value == status.pk or form.status.value == val %}
                    <option value="{{ status.pk }}" selected>{{ status.statusname }}</option>
                {% else %}
                    <option value="{{ status.pk }}">{{ status.statusname }}</option>
                {% endif %}
            {% endwith %}
            {% endfor %}
            {% else %}
            <option value="" selected>---------</option>
            {% for status in statuses %}
                <option value="{{ status.pk }}">{{ status.statusname }}</option>
            {% endfor %}
            {% endif %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_executor">{% trans 'Executor' %}</label>
            <select name="executor"
            {% if task_error or form.taskname.errors %}
                class="form-select is-valid"
            {% else %}
                class="form-select"
            {% endif %}
            id="id_executor">
            {% if form.executor.value %}
            <option value="">---------</option>
            {% for taskexecutor in taskexecutors %}
            {% with val=taskexecutor.pk|stringformat:'i' %}
                {% if form.executor.value == taskexecutor.pk or form.executor.value == val %}
                    <option value="{{ taskexecutor.pk }}" selected>{{ taskexecutor.username }}</option>
                {% else %}
                    <option value="{{ taskexecutor.pk }}">{{ taskexecutor.username }}</option>
                {% endif %}
            {% endwith %}
            {% endfor %}
            {% else %}
            <option value="" selected>---------</option>
            {% for taskexecutor in taskexecutors %}
                <option value="{{ taskexecutor.pk }}">{{ taskexecutor.username }}</option>
            {% endfor %}
            {% endif %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_labels">{% trans 'Labels' %}</label>
            <select name="labels"
            {% if task_error or form.taskname.errors %}
                class="form-select is-valid"
            {% else %}
                class="form-select"
            {% endif %}
            id="id_labels" multiple>
            {% if form.label.value %}
            {% for label in labels %}
            {% with val=label.pk|stringformat:'i' %}
                {% if form.label.value == label.pk or form.label.value == val %}
                    <option value="{{ label.pk }}" selected>{{ label.labelname }}</option>
                {% else %}
                    <option value="{{ label.pk }}">{{ label.labelname }}</option>
                {% endif %}
            {% endwith %}
            {% endfor %}
            {% else %}
            {% for label in labels %}
                <option value="{{ label.pk }}">{{ label.labelname }}</option>
            {% endfor %}
            {% endif %}
            </select>
        </div>
        <input class="btn btn-primary" type="submit" {% if edit_flag %} value="{% trans 'Edit' %}" {% else %} value="{% trans 'Create' %}" {% endif %}>
    </form>
</div>
{% endblock maincontent %}