{% extends 'task_manager/index.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block maincontent %}
<div class="container wrapper flex-grow-1">
    {% bootstrap_messages %}
    <h1 class="my-4">{% trans 'Tasks' %}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'new_task_create' %}" role="button">{% trans 'Create a task' %}</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
                {% csrf_token %}
                {% bootstrap_form filter.form %}
                <input class="btn btn-primary" type="submit" value="{% trans 'Show' %}">
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans 'Taskname' %}</th>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Autor' %}</th>
                <th>{% trans 'Executor' %}</th>
                <th>{% trans 'Date of creation' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.pk }}</td>
                <td><a href="{% url 'task_info' task.id %}">{{ task.name }}</a></td>
                <td>{{ task.status.name }}</td>
                <td>{{ task.taskautor }}</td>
                <td>{{ task.executor.first_name }} {{ task.executor.last_name }}</td>
                <td>{{ task.time_create|date:'d.m.Y H:i' }}</td>
                <td>
                    <a href="{% url 'task_edit' task.id %}">{% trans 'Edit' %}</a>
                    <br>
                    <a href="{% url 'task_delete' task.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock maincontent %}