{% extends 'task_manager/index.html' %}

{% load i18n %}

{% block maincontent %}
<div class="container wrapper flex-grow-1">
    {% if user.id %}
    <h1 class="my-4">{% translate "Edit user" %}</h1>
    {% else %}
    <h1 class="my-4">{% translate "Registration" %}</h1>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3"><label class="form-label" for="id_first_name">{% trans 'First name' %}</label>
            <input type="text" name="first_name" maxlength="50"
            {% if form.errors %}
                class="form-control is-valid" value="{{ form.first_name.value }}"
            {% elif user.id %}
                class="form-control" value="{{ user.first_name }}"
            {% endif %}
            class="form-control" placeholder="{% trans 'First name' %}" required id="id_first_name"></div>
        <div class="mb-3"><label class="form-label" for="id_last_name">{% trans 'Last name' %}</label>
            <input type="text" name="last_name" maxlength="50"
            {% if form.errors %}
                class="form-control is-valid" value="{{ form.last_name.value }}"
            {% elif user.id %}
                class="form-control" value="{{ user.last_name }}"
            {% endif %}
            class="form-control" placeholder="{% trans 'Last name' %}" required id="id_last_name"></div>
        <div class="mb-3"><label class="form-label" for="id_username">{% trans 'Username' %}</label>
            <input type="text" name="username" maxlength="150" autofocus
            {% if form.username.errors %}
                class="form-control is-invalid"
                value="{{ form.username.value }}"
            {% elif form.password1.errors and not form.username.errors %}
                class="form-control is-valid"
                value="{{ form.username.value }}"
            {% elif user.id %}
                class="form-control" value="{{ user.username }}"
            {% else %}
                class="form-control"
            {% endif %}
            placeholder="{% trans 'Username' %}" required id="id_username">
            <div class="invalid-feedback">{{ form.username.errors }}</div>
            <div class="form-text">{% trans 'Required field. Maximum 150 characters. Only letters, numbers and symbols @/./+/-/_.' %}</div>
        </div>
        <div class="mb-3"><label class="form-label" for="id_password1">{% trans 'Password' %}</label><input type="password"
            name="password1" autocomplete="new-password"
            class="{% if form.username.errors or form.password1.errors %}
                    form-control is-valid {% endif %} form-control"
            placeholder="{% trans 'Password' %}" required aria-describedby="id_password1_helptext" id="id_password1">
            <div class="form-text">
                <ul>
                    <li>{% trans 'Your password must contain at least 3 characters.' %}</li>
                </ul>
            </div>
        </div>
        <div class="mb-3"><label class="form-label" for="id_password2">{% trans 'Password confirmation' %}</label>
            <input type="password" name="password2" autocomplete="new-password"
            class="{% if form.password1.errors %}
                      form-control is-invalid
                   {% elif not form.errors %}
                      form-control
                   {% else %}
                      form-control is-valid
                   {% endif %}"
            placeholder="{% trans 'Password confirmation' %}" required
            {% if form.password1.errors %}
                aria-invalid="true"
            {% endif %}
            aria-describedby="id_password2_helptext" id="id_password2">
            {% if form.password1.errors %}
                <div class="invalid-feedback">{{ form.password1.errors }}</div>
            {% endif %}
            <div class="form-text">{% trans 'To confirm, please enter your password again.' %}</div>
        </div>
        <input class="btn btn-primary" type="submit"
        {% if user.id %}
            value="{% trans 'Edit' %}"
        {% else %}
            value="{% trans 'Register' %}"
        {% endif %}>
    </form>
</div>
{% endblock maincontent %}