{% extends 'task_manager/index.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block maincontent %}
<div class="container wrapper flex-grow-1">
    {% bootstrap_messages %}
    <h1 class="my-4">{% trans 'Users' %}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans 'Username' %}</th>
                <th>{% trans 'Full name' %}</th>
                <th>{% trans 'Date of creation' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.pk }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.time_create|date:'d.m.Y H:i' }}</td>
                <td>
                    <a href="{% url 'user_edit' user.id %}">{% trans 'Edit' %}</a>
                    <br>
                    <a href="{% url 'user_delete' user.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock maincontent %}